<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<app-navigation></app-navigation>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">

            <div *ngIf="!(tweet==null ||tweet.length==0)">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">View My Tweets</h3>
              <ng-container class="form-outline" *ngFor="let t of tweet; let i = index ">
                <p id="headtxt" *ngIf="t.edited==true"><span id="tag">@{{t.tweetedBy}}</span> posted on
                  {{t.tweetPostDate| date:'dd MMM yy'}}({{t.tweetPostDate| date:'h:mm a'}}) and last edited on
                  {{t.editedDate| date:'dd MMM yy'}}({{t.editedDate| date:'h:mm a'}})</p>
                <p id="headtxt" *ngIf="t.edited!=true"><span id="tag">@{{t.tweetedBy}}</span> posted on
                  {{t.tweetPostDate| date:'dd MMM yy'}}({{t.tweetPostDate| date:'h:mm a'}}) </p>
                <p style="font-weight: bold;text-decoration: underline;" *ngIf="t.parentTweetId==-1">Tweet {{t.tweetId}}
                </p>
                <p style="font-weight: bold;text-decoration: underline;" *ngIf="t.parentTweetId!=-1">Tweet Reply
                  {{t.tweetId}}</p>
                <div class="d-flex flex-row justify-content-start mb-4">
                  <table class="container">
                    <tr>
                      <td>
                        <div id="imgmrgn">
                          <div id="profileImage" [ngStyle]="{'background-color': t.profileColor}"></div>
                          <p id="profTxt">{{t.initials}}</p>
                        </div>
                      </td>
                      <td>
                        <div style="margin-top: 5em;" class="d-flex flex-row justify-content-start mb-10 pb-3">
                          <textarea class="form-control form-control-lg" rows="4" maxlength="50" id="tweet"
                            [ngModel]="t.tweet" value={{t.tweet}} (ngModelChange)="updateTitle($event)"
                            [disabled]="!(t.tweetId==editAllow) || (t.deleted)"></textarea>
                        </div>
                      </td>
                      <td>
                        <div style="width: 45px;margin-right: -2em;width: 45px;">
                          <!-- Right padding fix -->
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                <div id="btnPos">
                  <button class="btn btn-primary btn-sm" *ngIf="!(editAllow==t.tweetId) && (t.deleted==false)"
                    (click)="editField(t.tweetId)"><span class="glyphicon glyphicon-pencil"> Edit</span></button>
                  <button class="btn btn-danger btn-sm" *ngIf="!(editAllow==t.tweetId) && (t.deleted==false)"
                    (click)="deleteField(t.tweetId)"><span class="	glyphicon glyphicon-trash"> Delete</span></button>
                  <button type="submit" *ngIf="(editAllow==t.tweetId)" class="btn btn-success btn-sm"
                    [disabled]="!(t.tweetId==editAllow)" (click)="saveTweet(t)"><span
                      class="glyphicon glyphicon-floppy-disk"> Save</span></button>
                  <button class="btn btn-danger btn-sm" *ngIf="(editAllow==t.tweetId)"
                    [disabled]="!(t.tweetId==editAllow)" (click)="cancelEdit()"><span
                      class="glyphicon glyphicon-remove"> Cancel</span></button>
                </div>
              </ng-container>
              <div class="d-flex justify-content-center">
                <nav>
                  <ul class="pagination justify-content-end">
                    <li>
                      <div>
                        <span style="font-size: small;">Tweets/page</span><select class="form-select form-select-sm"
                          [(ngModel)]="size" (ngModelChange)="adjustTweetSize($event)">
                          <option value="2">Two</option>
                          <option selected value="3">Three(Default)</option>
                          <option value="4">Four</option>
                          <option value="5">Five</option>
                          <option value="6">Six</option>
                        </select>
                      </div>
                    </li>
                    <li class="page-item disabled" *ngIf="(page+1)<=2">
                      <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item" *ngIf="(page+1)>2">
                      <a class="page-link" (click)="setPage(-2)">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" (click)="setPage(-1)" *ngIf="page>0">{{page}}</a></li>
                    <li class="page-item active"><a class="page-link" (click)="setPage(0)">{{page+1}}</a></li>
                    <li class="page-item"><a class="page-link" *ngIf="(page+1)*size<totalItem"
                        (click)="setPage(1)">{{page+2}}</a></li>
                    <li class="page-item" *ngIf="(page+1)*size<totalItem-2">
                      <a class="page-link" (click)="setPage(2)">Next</a>
                    </li>
                    <li class="page-item disabled" *ngIf="(page+1)*size>=totalItem-2">
                      <a class="page-link">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <h4 *ngIf="(tweet==null ||tweet.length==0)">No Tweets Found</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
