<app-navigation></app-navigation>
 <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Reset Password</h3>
                <table >
                  <tr>
                    <td><label for="result">Are you sure you want to reset the password</label></td>
                  </tr>
                  <tr>
                    <td><button class="btn btn-danger" style="margin-left: 3em;" (click)="submitDecision(true)">I confirm</button></td>
                    <td><button style="margin-left: -12em;" class="btn btn-success" (click)="submitDecision(false)">Pls no</button></td>
                  </tr>
                </table>
                <script src="dbconnect.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>