<app-navigation></app-navigation>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-9">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Post a Tweet</h3>
            <br><br>
            <form [formGroup]="tweetpost" (submit)="onPost()">
              <div class="form-outline">
                <div class="d-flex flex-row justify-content-start mb-4">
                  <div id="imgmrgn">
                    <div id="profileImage" [ngStyle]="{'background-color': profileColor}"></div>
                    <p id="profTxt">{{initials}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row justify-content-start mb-4 pb-2" style="margin-top: -2em;">
                  <textarea class="form-control form-control-lg" rows="4" maxlength="50" id="tweet"
                    formControlName="tweet" rows="4"></textarea>
                </div>
                <div class="d-flex flex-row justify-content-start mb-4 pb-2">
                  <label class="form-label" id="tweetmsg" for="tweet">What's on your mind today?</label>
                </div>
              </div>
              <div class="form-outline" style="margin-left: 10%;">
                <input class="btn btn-success btn-sm" id="buttn" type="submit" style="margin-right: 1em; margin-bottom: 1em;"
                  value="Submit" />
                <input class="btn btn-danger btn-sm" id="buttn" style="margin-right: 1em; margin-bottom: 1em;" type="reset"
                  value="Clear" />
                <p *ngIf="msg!=''" type="success" class="d-flex">{{msg}}</p>
              </div>
              <br *ngIf="msg==''">
              <br *ngIf="msg==''">
              <br *ngIf="msg==''">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
